@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
        system-ui, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    h1 {
        @apply text-2xl font-bold my-4;
    }

    h2 {
        @apply text-xl font-bold my-3;
    }

    h3 {
        @apply text-lg font-bold my-2;
    }
}

/* 마크다운 표 스타일 */
.prose table {
    @apply w-full text-sm text-left text-gray-800;
}

.prose table th {
    @apply px-4 py-2 bg-gray-100 font-medium;
}

.prose table td {
    @apply px-4 py-2;
}

.prose table tr {
    @apply border-b;
}
