@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Pretendard", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
        system-ui, Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer base {
    h1 {
        @apply text-2xl font-bold my-4;
    }

    h2 {
        @apply text-xl font-bold my-3;
    }

    h3 {
        @apply text-lg font-bold my-2;
    }
}
